{% extends "anomaly.module.installer::layouts/installer" %}

{% block content %}

    {{ asset_add('scripts.js', 'anomaly.module.installer::js/' ~ action ~'.js') }}

    <div id="progress" class="row">
        <div class="col-lg-12 col-lg-offset-6">

            <p id="label" class="text-center">{{ trans('anomaly.module.installer::install.installing') }}...</p>

            <progress class="progress progress-primary" value="0" max="100">0%</progress>

            <div class="finished hidden animate fadeInUpBig">
                <a href="{{ url_to('admin/login') }}" class="btn btn-success">Login</a>
                <a href="{{ url_to('/') }}" class="btn btn-link">View Site</a>
            </div>

        </div>
    </div>

    {% for key, installer in installers %}
        <div
                data-action="{{ url('installer/' ~ (action == 'install' ? 'run' : 'seed') ~ '/' ~ key) }}"
                data-step="{{ trans(installer.getMessage()) }}"
                data-progress="{{ ((loop.index-1)/(installers.count())*100)|round(0, 'floor') }}"
                ></div>
    {% endfor %}

{% endblock %}
